In [14]:
import pandas as pd
import numpy as np

In [17]:
movie = pd.read_csv("Movie_classification.csv")

### Load Data

In [18]:
movie.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

### Cek Nilai Duplikat

In [19]:
movie.duplicated().sum()

0

tidak ada nilai duplikat pada data movie tersebut

In [20]:
movie.isna().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
Start_Tech_Oscar        0
dtype: int64

In [21]:
(movie.isna().sum()/len(movie))*100

Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

terdapat 12 data missing value pada fitur time_taken, mari tangani missing value tersebut pada beberapa metode dibawah ini

### Drop Missing value

In [22]:
# Berdasarkan baris

baris = movie.dropna(axis=0)

In [26]:
baris.shape

(494, 19)

In [36]:
movie.shape

(506, 19)

In [23]:
# Berdasarkan kolom

kolom = movie.dropna(axis=1)

In [64]:
kolom.shape

(506, 18)

## Imputasi

In [39]:
imputate = movie.select_dtypes(include=[np.number])

### Mean

In [47]:
# Imputasi dengan mean

mean = imputate.fillna(imputate.mean())

In [63]:
movie.isna().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
Start_Tech_Oscar        0
dtype: int64

In [60]:
print(mean.loc[mean['Time_taken'] == movie['Time_taken'].mean(), 'Time_taken'])

20     157.391498
58     157.391498
60     157.391498
104    157.391498
105    157.391498
215    157.391498
260    157.391498
359    157.391498
403    157.391498
416    157.391498
440    157.391498
496    157.391498
Name: Time_taken, dtype: float64

### Median

In [66]:
median = imputate.fillna(imputate.median())

In [68]:
print(median.loc[median['Time_taken'] == movie['Time_taken'].median(), 'Time_taken'])

163    160.0
267    160.0
Name: Time_taken, dtype: float64

In [69]:
median.isnull().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
Time_taken             0
Twitter_hastags        0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

### Modus

In [70]:
modus = imputate.fillna(imputate.mode())

In [72]:
modus.isna().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
Time_taken             0
Twitter_hastags        0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

### Export Excel

In [74]:
movie.to_excel("movie_clean.xlsx", index=False)
baris.to_excel("movie_clean.xlsx", index=False)
kolom.to_excel("movie_clean.xlsx", index=False)
mean.to_excel("movie_clean.xlsx", index=False)
modus.to_excel("movie_clean.xlsx", index=False)
median.to_excel("movie_clean.xlsx", index=False)

### Export CSV

In [75]:
movie.to_csv("movie_clean.csv", index=False)
baris.to_csv("movie_clean.csv", index=False)
kolom.to_csv("movie_clean.csv", index=False)
mean.to_csv("movie_clean.csv", index=False)
modus.to_csv("movie_clean.csv", index=False)
median.to_csv("movie_clean.csv", index=False)